In [5]:
import pandas as pd

data = {
    'Employee ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'Sales'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

In [7]:
print(df.head())

   Employee ID     Name  Age Department  Salary
0            1    Alice   25         HR   50000
1            2      Bob   30    Finance   60000
2            3  Charlie   35         IT   70000
3            4    David   40  Marketing   80000
4            5      Eve   45      Sales   90000

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee ID  5 non-null      int64
 1   Name         5 non-null      object
 2   Age          5 non-null      int64
 3   Department   5 non-null      object
 4   Salary       5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None

In [11]:
print(df.describe())

       Employee ID        Age        Salary
count     5.000000   5.000000      5.000000
mean      3.000000  35.000000  70000.000000
std       1.581139   7.905694  15811.388301
min       1.000000  25.000000  50000.000000
25%       2.000000  30.000000  60000.000000
50%       3.000000  35.000000  70000.000000
75%       4.000000  40.000000  80000.000000
max       5.000000  45.000000  90000.000000

Question #2:

In [16]:
df = pd.read_csv(r"C:\Users\vishe\Downloads\Phone Link\movies.csv")

In [18]:
print(df.isnull().sum())

movieId    0
title      0
genres     0
dtype: int64

In [20]:
print(df.nunique())

movieId    9742
title      9737
genres      951
dtype: int64

In [26]:
df.to_csv(r"cleaned_file.csv", index=False)

In [30]:
df=pd.read_csv(r"C:\Users\vishe\Jupyter\cleaned_file.csv")