In [28]:
import pandas as pd

# Load the datasets
students_df = pd.read_csv(r"C:\Users\vishe\Documents\students.csv")
details_df = pd.read_csv(r"C:\Users\vishe\Documents\details.csv")

In [30]:
inner_join = pd.merge(students_df, details_df, on='StudentID', how='inner')
print(inner_join)

   StudentID     Name  Marks  Age Grade
0        101    Alice     85   20     A
1        102      Bob     90   21     B
2        103  Charlie     88   22     A

In [32]:
left_join = pd.merge(students_df, details_df, on='StudentID', how='left')
print(left_join)

   StudentID     Name  Marks   Age Grade
0        101    Alice     85  20.0     A
1        102      Bob     90  21.0     B
2        103  Charlie     88  22.0     A
3        104    David     92   NaN   NaN

In [34]:
right_join = pd.merge(students_df, details_df, on='StudentID', how='right')
print(right_join)

   StudentID     Name  Marks  Age Grade
0        101    Alice   85.0   20     A
1        102      Bob   90.0   21     B
2        103  Charlie   88.0   22     A
3        105      NaN    NaN   19     C

In [36]:
outer_join = pd.merge(students_df, details_df, on='StudentID', how='outer')
print(outer_join)

   StudentID     Name  Marks   Age Grade
0        101    Alice   85.0  20.0     A
1        102      Bob   90.0  21.0     B
2        103  Charlie   88.0  22.0     A
3        104    David   92.0   NaN   NaN
4        105      NaN    NaN  19.0     C

In [38]:
outer_join.set_index('StudentID', inplace=True)
print(outer_join)

              Name  Marks   Age Grade
StudentID
101          Alice   85.0  20.0     A
102            Bob   90.0  21.0     B
103        Charlie   88.0  22.0     A
104          David   92.0   NaN   NaN
105            NaN    NaN  19.0     C

In [40]:
outer_join.reset_index(inplace=True)

In [42]:
outer_join.to_csv('merged_students_details.csv', index=False)

In [44]:
diabetes_df = pd.read_csv(r"C:\Users\vishe\Downloads\diabetes.csv")
print(diabetes_df.head())
print(diabetes_df.shape)
print(diabetes_df.describe())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
(768, 9)
       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [46]:
diabetes_df['Glucose'] = diabetes_df['Glucose'].replace(0, diabetes_df['Glucose'].median())
diabetes_df['BMI'] = diabetes_df['BMI'].replace(0, diabetes_df['BMI'].median())